.gameRecordsItem {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 10px;
    justify-content: center;
}

.gameRecordsHorizontal {
    display: flex;
    flex-direction: column;
}

.gameRecordsProfileImgContainer {
    margin: 0 10px 0 10px;
    position: relative;
}

.gameRecordsProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.gameRecordsUsername {
    font-weight: normal;
    font-size: 17px;
    color: black
}

.gameRecordsCounter {
    margin-left: 30px;
    font-weight: bolder;
    color: black
}

.gameRecordsCounterHorizontal {
    margin-left: 30px;
    font-weight: bolder;
    color: black;
}

@media (max-width: 1300px) {
    .gameRecordsProfileImg {
        display: none;
    }

    .gameRecordsCounter {
        margin: 0 5px 0 5px;
    }
}

.usersRecordsListLink, .usersRecordsListLink:visited, .usersRecordsListLink:focus, .usersRecordsListLink:hover, .usersRecordsListLink:active, .usersRecordsListLink:link {
    text-decoration: none;
}

.recordsItem {
    display: flex;
    height: 70px;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: 90px;
}

.gameRecordsText {
    margin-left: 10px;
    font-size: 18px;
}