.friendsItem {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.friendsListProfileImgContainer {
    margin: 5px 10px 0 10px;
    position: relative;
}

.friendsListProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
}

/*.friendsListOnline {*/
/*    width: 12px;*/
/*    height: 12px;*/
/*    border-radius: 50%;*/
/*    background-color: limegreen;*/
/*    position: absolute;*/
/*    top: -2px;*/
/*    right: -2px;*/
/*    border: 2px solid white;*/
/*}*/

.friendsListUsername {
    font-weight: normal;
    font-size: 17px;
    color: black
}

@media (max-width: 1300px) {
    .friendsListProfileImg {
        display: none;
    }
}

.usersFriendListLink, .usersFriendListLink:visited, .usersFriendListLink:focus, .usersFriendListLink:hover, .usersFriendListLink:active, .usersFriendListLink:link {
    text-decoration: none;
}